<!DOCTYPE html>

{% load static %}

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Visitantes</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">    
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    
    <style>
        body {
            background-color: #c7ede4;
        }

        .sidebar {
            background-color: #d6e2eee8;
            color: rgb(19, 20, 18);
            height: 50vh;
            padding-top: 20px;
        }

        .sidebar a {
            color: rgb(19, 20, 18);
        }
    </style>
</head>

<body>

    {% block conteudo %} {% endblock conteudo%}

    <div class="container mt-5">
        <h2>VISITANTES RECENTES</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>NOME</th>
                    <th>CPF</th>
                    <th>CHEGADA</th>
                    <th>SAÍDA</th>
                    <th>AUTORIZADO POR</th>
                    <th>VER INFORMAÇÕES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for variavel in todos_visitantes %}
                    <td>{{variavel.nome_completo}}</td>
                    <td>{{variavel.cpf}}</td>
                    <td>{{variavel.horario_chegada}}</td>
                    <td>{{variavel.horario_autorizacao}}</td>
                    <td>{{variavel.morador_responsavel}}</td>
                    <td>
                        <a href="#">
                            Ver informações
                        </a>
                    </td>    
                </tr>
               {% endfor %} 
            </tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            
        </table>
    </div> 
    <script>
        // Função para obter parâmetros da URL
        function getQueryParams() {
            const params = new URLSearchParams(window.location.search);
            return params;
        }
        // Função para exibir os dados
        function exibirDados() {
            const params = getQueryParams();
            const nome = params.get('nome');
            const email = params.get('email');
            document.getElementById('dados').innerHTML = `<p>Nome: ${nome}</p><p>Email: ${email}</p>`;
        }
        // Chamada da função
        exibirDados();
    </script>
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/sb-admin-2.min.js'%}"></script>
      
</body>
</html>